body{
	background-color: char;
	font-size: 20px;
	margin: -.5px;
}

i{
	transform: scale(2);
	margin: 10px;
}

img{
	transform: scale(.1,.1);
	margin: 0 auto;
	position: absolute;
}

/*.me{
	transform: scale(.1,.1);

}*/

footer{
	text-align: center;
	position: inherit;
	padding: .7rem;
	/*border: .1em solid;*/
	background-color: #cccccc;	
}

a{
	margin: 10px;
	color: #110000;
	text-decoration: none;
}

a:hover{
	color: #cccccc;
}

#classes{
	text-align: center;
	padding: 20px;
	border: .1rem solid;
	background-color: #9966ff;
}

#skills{
	text-align: center;
	float: none;
	padding: 20px;
	border: .1rem solid;
	background-color: #9966ff;
}

#edu{
	text-align: center;
	border: .1rem solid black;
	padding: auto;
	background-color: #cccccc;
	padding-top: .2rem;
	padding-bottom: .2rem;
}

#honors{
	text-align: center;
	border: .1rem solid black;
	padding: auto;
	background-color: #cccccc;
	padding-top: .2rem;
	padding-bottom: .2rem;
}

header{
	text-align: center; 
}

#school{
	border: .1rem solid;
	padding: 15px;
	margin-top: 10px;
	background-color: #cccccc;	
}


.label{
	font-size: 20px;
}

#head{	
	border: .1rem solid;
	height: 200px;
	background-color: #9966ff; 
}

#work{
	padding-left: 10px;
	background-color: #cccccc;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-brand{
	text-align: left;
}
